* {
    margin: 0;
    padding: 0;
    border-style: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin-top: 0.7em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 10vh;

}

.brand-img {
    height: 52px;
    width: 48px;
    margin-right: 10em;
    cursor: pointer;
}

.nav-right {
    margin-left: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text {
    font-weight: 100;
    margin-right: 1.4em;
    font-size: smaller;
}

.nav-text:hover {
    cursor: pointer;
    color: purple;
}

.nav-button {
    font-size: 0.8em;
    border: none;
    padding: 0.6rem;
    border-radius: 36px;
    background-color: white;
    border: 2px solid purple;
    width: 100px;
    color: purple;
    cursor: pointer;
}

.nav-button:hover {
    background-color: purple;
    color: white;
}

 h1 {
    font-weight: 700;
    text-align: center;
    margin: 2em auto 0;
    /* width: 670px; */
    width: 720px;
    display: inline-block;
    font-size: 2.4em;
}

main {
    text-align: center;
}

.main-p {
    text-align: center;
    display: block;
    font-weight: 200;
    margin-top: 1.25em;
    font-size: 1.15em;
} 

.img-avatar {
    margin-top: 2em;
    width: 170px;
    display: inline-block;
}

.img-machine {
    width: 520px;
    margin-top: 3.7em;
}

section {
   background-color: #7510F7 ; 
   display: flex;
   height: 500px;
  align-items: center;
/* justify-content: center; */
    /* margin-top: 5em; */
    flex-direction: column;
}

.text {
    text-align: center;
    margin-top: 100px;
}

h2 {
   /* padding-top: 2em; */
    color: white;
    font-family: 'Eurostile Extended', sans-serif;
    font-size: 1.3em;
}

section p {
    padding-top: 1.5em;
    color: white;
    width: 620px;
    text-align: center;
    display: inline-block;
    line-height: 1.7em;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

section {
    position: relative;
}

.card-info {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
    position: absolute;
    top: 380px;
}

.card-info-1 {
    background-color: white;
    width: 400px;
    height: 600px;
    border: 1px solid #E6ECF8;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info-1 img {
    height: 50px;
    width: 48px;
    padding-top: 3.125em;
}

.card-info-1 h1 {
    text-align: center;
    display: inline-block;
    width: 250px;
    font-size: 1.5em;
}

.card-info-1 .p-personal {
    width: 310px;
    font-weight: 100;
    color: black;
}

.card-info-1 h2 {
    color: #7510F7;
    font-weight: 200;
    padding-top: 1.875em;
}

.card-info-1 .p-skills {
    width: 310px;
    color: black;
}

.card-info-1  ul {
    padding-top: 1.5em;
    text-align: center;
}

.card-info-1  li {
    list-style: none;
    font-weight: 200;
    padding-bottom: 0.5em;
}

